/* BEGIN: GWP 2010 Print */

#HeaderLinkSection
{
display: none;
}

#header-section
{
display: none;
}

#MainNavigationCtrl
{
display: none;
}

#branding-section
{
display: none;
}

#branding-section-right
{
display: none;
}

#slider
{
display: none;
}


#TertiaryNavigationMenu
{
display: none;
}

#BreadCrumbSection
{
display: none;	
}

#footer-section
{
display: none;
}

#MicrosoftTranslatorWidget
{
display: none;
}

#ToolSection
{
display: none;
}

#WebPartSectionLeftFrame
{
display: none;
}

#WebPartSectionRightFrame
{
display: none;
}

/* END: GWP 2010 Print */
